<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="./css/contact.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <section class="contact" id="contact">
        <div class="container">
          <div class="heading">
            <h2>Contacto</h2>
          </div>
          <div class="content grid-container">
            <div class="contactInfo">
              <h3>Informacion de Contacto</h3>
              <div class="contactInfoBx">
                </div>
                <div class="box">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="text">
                    <h3>Número</h3>
                    <p>+51 992233111</p>
                  </div>
                </div>
                <div class="box">
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="text">
                    <h3>Email</h3>
                    <p>sebastianramos965@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
      <%- include('partials/footer') %>
  <script src="/js/nav.js"></script>
</body>
</html>