<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head') %>
  <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <section class="banner" id="home">
        <div class="container">
          <div class="textBx">
            <h2>
              Hola, soy
              <br />
              <span>Sebastian Ramos</span>
            </h2>
            <h3>Estudiante de Ingeniera de Sistemas e Informatica</h3>
            <a href="/about" class="btn">Sobre mi</a>
          </div>
        </div>
      </section>
      <%- include('partials/footer') %>
      <script src="/js/nav.js"></script>
</body>
</html>