<header>
    <div class="container">
      <a href="/" class="logo">Portafolio</a>
      <span class="toggle" onclick="toggleMenu()"></span>
      <nav class="menu" onclick="toggleMenu()">
        <a href="/">Inicio</a>
        <a href="/about">Sobre Mi</a>
        <a href="/tecnologias">Tecnologias</a>
        <a href="/contact">Contacto</a>
      </nav>
    </div>
  </header>